h1{
    font-size: 35px;
}

h1,
h2{
    font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 30px;
}
.recipe.list{
    background-color: lightgray;
    width: fit-content;
}

img{
    width: 400px;
    height: auto;
}

.list{
    background-color:darkgray;
    width: fit-content;
    font-size: 20px;
}
